
body{
    align-content: center;
    background-image: url( '../img/back_space_1280.gif');
}

/*  CONTENEDOR  --- this is probably deleted*/
.container{
    margin-left: 450px;
    max-width: 50%;
    text-align: center;
    align-content: center;
    width:700 px;
    height: 900 px;
    border: #000 1px solid ;
}

/*  CANVAS - area del juego*/
#my_canvas{
    background: #000;
    border: #000 1px solid ;
    width:700 px;
    height: 900 px;
}

/*  Datos de la partida  */
.barra{
    color: white;
    font-size: 20 px;
    float:right;
    margin-right: 150px;
    padding: 60 px;
}

/*  BOTONES LADO IZQUIERDO(LI)  */
div.left{
    position: fixed;
    bottom: 0;
}
    /*  Boton LEFT - LI  */
.btn_left{
    width:150px;
    height:150px;
    background-color:#090a098a;
    margin: 5px;
    padding:10px;
    background-image: url( '../img/left_128.png');
    background-repeat:no-repeat;
    background-position:center;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size:11px;
    line-height:32px;
    float:left;
    font-size: 40px;
    cursor: pointer;
}
.btn_left:hover{
    background-color: #fff;
    color: black;
}

/*  BOTONES LADO DERECHO(LD)  */
div.right{
    position: fixed;
    bottom: 0;
    right: 0;
}
    /*  Boton RIGTH & HOVER - LD  */
.btn_right{
    width:150px;
    height:150px;
    background-color:#090a098a;
    margin: 5px;
    padding:10px;
    background-image: url( '../img/right_128.png');
    background-repeat:no-repeat;
    background-position:center;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size:11px;
    line-height:32px;
    font-size: 40px;
    cursor: pointer;
    margin-right: 10px;
}
.btn_right:hover{
    background-color: #fff;
    color: black;

}
    /*  Boton SHOOT & HOVER - LD  */
.btn_shoot{
    width:150px;
    height:150px;
    background-color:#090a098a;
    margin: 5px;
    padding:10px;
    background-image: url( '../img/bullseye_128.png');
    background-repeat:no-repeat;
    background-position:center;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size:11px;
    line-height:32px;
    cursor: pointer;
    font-size: 40px;
    margin-right: 10px;
}
.btn_shoot:hover{
    background-color: #fff;
    color: black;
}
    /*  Boton RESET & HOVER - LD  */
.btn_reset{
    width:150px;
    height:150px;
    background-color:#090a098a;
    text-align: center;
    background-image: url( '../img/reset_128.png');
    background-repeat:no-repeat;
    background-position:center;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size:11px;
    line-height:32px;
    margin-bottom: 80px;
    margin-left: 75px;
    cursor: pointer;
    
}
.btn_reset:hover{
    background-color: #fff;
    color: black;
}

