
body{
   /* position: fixed;*/
    background-image: url( '../img/back_space_1280.gif');
    outline:none;
}

/*  CANVAS - area del juego*/
#my_canvas{
    /*padding:0;*/
    position: fixed;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    border: #000 1px solid ;
    bottom: 0;
    left: 0;
}

/*  Datos de la partida  */
.barra{
    position: fixed;
    color: white;
    font-size: 20 px;
    float:right;
    margin-left: 75px;
}

/*  BOTONES LADO IZQUIERDO(LI)  */
div.left{
    position: fixed;
    bottom: 0;
}
    /*  Boton LEFT - LI  */
.btn_left{
    width:100px;
    height:100px;
    background-color:#090a098a;
    margin: 40px;
    /*padding:10px;*/
    background-image: url( '../img/left_128.png');
    background-size: 80%;
    background-repeat:no-repeat;
    background-position:center;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size:11px;
    line-height:32px;
    float:left;
    font-size: 40px;
    cursor: pointer;
}
.btn_left:hover{
    background-color: #fff;
    color: black;
}

/*  BOTONES LADO DERECHO(LD)  */
div.right{
    position: fixed;
    bottom: 0;
    right: 0;
}
    /*  Boton RIGTH & HOVER - LD  */
.btn_right{
    width:100px;
    height:100px;
    background-color:#090a098a;
    margin: 40px;
    background-image: url( '../img/right_128.png');
    background-size: 80%;
    background-repeat:no-repeat;
    background-position:center;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size:11px;
    line-height:32px;
    font-size: 40px;
    cursor: pointer;
    margin-right: 10px;
}
.btn_right:hover{
    background-color: #fff;
    color: black;

}
    /*  Boton SHOOT & HOVER - LD  */
.btn_shoot{
    width:100px;
    height:100px;
    background-color:#090a098a;
    margin: 40px;
    background-image: url( '../img/bullseye_128.png');
    background-size: 120%;
    background-repeat:no-repeat;
    background-position:center;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size:11px;
    line-height:32px;
    cursor: pointer;
    font-size: 40px;
    margin-right: 10px;
}
.btn_shoot:hover{
    background-color: #fff;
    color: black;
}
    /*  Boton RESET & HOVER - LD  */
.btn_reset{
    width:100px;
    height:100px;
    background-color:#090a098a;
    text-align: center;
    background-image: url( '../img/reset_128.png');
    background-size: 80%;
    background-repeat:no-repeat;
    background-position:center;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size:11px;
    line-height:32px;
    margin: 40px;
    margin-bottom: 80px;
    margin-left: 95px;
    cursor: pointer;
    
}
.btn_reset:hover{
    background-color: #fff;
    color: black;
}

